.article-text{
  margin-left:1em;
}
img {
  border-radius: 1em;
  width: 100%;
  height:auto;
}
.news-image-container{
  display: flex;
  width: 100%;
}
a{
  text-decoration: none;
  color: black ;
}
.load-page{
  text-align: center;
  margin: 3em 0;
}
.news-text{
  display:block;
}
.chart{
  max-width: 1000px;
  margin: auto;
}

.button_expand{
  text-align: center;
  margin: 15px 0;
}
svg{
  background-color: rgb(250, 240, 230);
}
.seat_info{
  margin: auto;
  padding-bottom: 2em;
}
.title_seat{
  text-align: center;
}
.title{
  font-weight: bold;
}
.button_text{
  color:white;
  background-color: grey;
}

/* start style collapse data */
.collapse_seat{
  background-color: rgb(253,180,108) !important;
}
.panel_seat{
  font-weight: 500;
}
.ant-collapse-content{
  background-color: rgb(247, 236, 198) !important;
}


/* end style collapse data */
/* start style of table */
.party_rows {
  background-color: white;
}
.td_party{
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 1px solid black !important ;
}
.party_rows:last-child .td_party{
  border-bottom: 0;
}
.tableParty{
  border:10px solid rgb(255,179,0);
  border-top: none;
  border-bottom: none;
  table-layout:fixed;
  padding: 0px 10px !important;
}
.tableParty:first-child{
  border-top:10px solid rgb(255,179,0);
}
.tableParty:last-child{
  border-bottom:10px solid rgb(255,179,0) ;
}
.ant-table-thead>tr>th{
  background-color: rgb(200,200,200)  !important;
}
/* end of style table */

.state_party1{
  padding-bottom:2em;
}
.state_party2{
  margin-bottom:2em;
}
.seat_map{
  text-align:center;
  margin:3em 0 ;
}
.state_party1 tr:nth-child(even){
  background-color: rgb(232,232,232);
}
.state_party2 tr:nth-child(even){
  background-color: rgb(232,232,232);
}

@media only screen and (max-width: 600px) {
  .news-text{
    display: none !important;
  }
  img{
    width: 150px;
    height:100px;
  }
}
@media only screen and (min-width:600px){
  img{
    width:300px;
    height:200px;
  }
  .seat_info{
    width: 80%;
    margin: auto;
  }
}
@media only screen and (min-width:700px){
  img{
    width:370px;
    height:230px;
  }
  .seat_info{
    width: 70%;
    margin: auto;
  }
}
@media only screen and (min-width:1000px){
  .home-page{
    width: 70%;
    margin: auto;
  } 
  .seat_info{
    width: 60%;
    margin: auto;
  }
  .state_party2{
    margin-left:2em;
  }
}
@media only screen and (min-width:1300px){
  .home-page{
    width: 60%;
  } 
  .seat_info{
    width: 60%;
    margin: auto;
  }
  .map{
    margin: auto;
    max-width: 40%;
  }
  .table_party{
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .state_party2{
    margin-left:2em;
  }
}
@media only screen and (min-width:1800px){
  .home-page{
    width: 50%;
  } 
  .seat_info{
    width: 50%;
    margin: auto;
  }
  .seat_map{
    text-align:center;
    margin:3em 0 ;
    
  }
  .map{
    margin: auto;
    max-width: 30%;
  }
  .table_party{
    max-width: 40%;
    display: flex;
    margin: auto ;
    justify-content: center;
  }
  .state_party2{
    margin-left:2em;
  }
}
